<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

<title>Food Truck Rodeo</title>
<!-- Stylesheets -->
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/revolution-slider.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/css/bootstrap.vertical-tabs.css" rel="stylesheet">
<!-- <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/static/images/favicon.ico" type="image/x-icon"> -->
<!-- Responsive -->

<link href="/static/css/responsive.css" rel="stylesheet">

</head>

<body>

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
    <!-- Main Header-->
    <header class="main-header">
    	<!-- Header Top -->
    	<div class="header-top">
        	<div class="auto-container">
            	<div class="clearfix">
                    
                    <!--Top Left-->
                    <div class="top-left">
                    	<!--social-icon-->
                        <div class="social-icon">
                        	<a href="https://www.facebook.com"target="_blank"><span class="fa fa-facebook"></span></a>
                            <a href="https://www.twitter.com"target="_blank"><span class="fa fa-twitter"></span></a>
                            <a href="https://www.google.com"target="_blank"><span class="fa fa fa-skyatlas"></span></a>
                            <a href="https://www.tumblr.com"target="_blank"><span class="fa fa fa-tumblr"></span></a>
                            
                        </div>
                        
                    	<ul class="clearfix">
                        	<li>Call for Special Orders: +1 (252)-555-7777</li>
                        </ul>
                    </div>
                    
                    <!--Top Right-->
                    <div class="top-right">
                    
                    	<ul>
                        	<li>Booking Hours : 10:00 am to 11:00 pm</li>

                                
                       
                                   
                                </ul>
                            </li>
                           
                        </ul>
                        
                    </div>
                    
                </div>
                
            </div>
        </div>
        <!-- Header Top End -->
        
        
        <!-- Main Box -->
    	<div class="main-box">
        	<div class="auto-container">
            	<div class="outer-container clearfix">
                    <!--Logo Box-->
                    <div class="logo-box">
                        <div class="logo"><a href="index.html"><img src="/static/images/download.png" alt="Artica"></a></div>
                    </div>
                    
                    <!--Nav Outer-->
                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <!-- Toggle Button -->    	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                            </div>
                            
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li><a href="index.html">Home</a>
                                    	
                                    </li>
                                    
                                   <!-- <li><a href="">Order Now</a></li>-->
                                    
                                  
                                     <li><a href="snacks.html">Snacks</a></li>
                                  
                                     <!--Cart Btn-->
                                <li class="cart-btn">
                                    <a href="shopping-cart.html">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span class="count" id="menuCount">0</span>
                                    </a>
                                </li>
                                 </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        
                        <!--Reserv Box Btn-->
                        <div class="btn-outer"><a href="ordernow.html" class=" reserv-box-btn">Order Now</a></div>
                        
                    </div><!--Nav Outer End-->
                    
                    <!-- Hidden Nav Toggler -->
                    <div class="nav-toggler">
                    	<button class="hidden-bar-opener"><span class="icon fa fa-bars"></span></button>
                    </div><!-- / Hidden Nav Toggler -->
                    
            	</div>    
            </div>
        </div>
    
    </header>
    <!--End Main Header -->
    
    <!-- Hidden Navigation Bar -->
    <section class="hidden-bar right-align">
        
        <div class="hidden-bar-closer">
            <button class="btn"><i class="fa fa-close"></i></button>
        </div>
        
        <!-- Hidden Bar Wrapper -->
        <div class="hidden-bar-wrapper">
        
            <!-- .logo -->
            <div class="logo text-center">
                <a href="index.html"><img src="/static/images/download.png" alt="Artica"></a>			
            </div><!-- /.logo -->
            
            <!-- .Side-menu -->
            <div class="side-menu">
            	<!-- .navigation -->
                <ul class="navigation clearfix">
                    <li><a href="index.html">Home</a>
                        
                    </li>
                    <li><a href="about.html">About</a></li>
                                    <li><a href="ordernow.html">Order Now</a></li>
                                    
                                  
                                   

                                        </ul>
                                    </li>
                                    <li><a href="snacks.html">Menu</a></li>
                                   
                 </ul>
            </div><!-- /.Side-menu -->
        
            <div class="social-icons">
                <ul>
                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.google.com"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        
        </div><!-- / Hidden Bar Wrapper -->
    </section>
    <!-- / Hidden Bar -->
    
    <!--Main Slider-->
    <section class="main-slider" data-start-height="520" data-slide-overlay="yes">
    	
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                	
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/static/images/main-slider/image-1.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="/static/images/main-slider/image-5.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-140"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><figure class="content-image"><img src="/static/images/main-slider/icon-1.png" alt=""></figure></div>
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-20"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>Served Hot!!</h2>
                   
                    </div>
                    
                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="50"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">Food Truck Rodeo </div></div>
                    
                    
                    
                    </li>
                    
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/static/images/main-slider/image-2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="/static/images/main-slider/image-6.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-140"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><figure class="content-image"><img src="/static/images/main-slider/icon-1.png" alt=""></figure></div>
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-20"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><h2>Feeling Hungry? Order Food</h2></div>
                    
                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="50"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text">Veg momos | Chicken Momos | Fried Momos | Veg Chawmin | Veg Spring Roll </div></div>
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="130"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Order To_Go</a></div>
                    
                    </li>
                    
                           
                   
                    
                   
                    
                    
                    <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-40"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><figure class="content-image"><!--<img src="/static/images/main-slider/content-image.png" alt="">--></figure></div>
                    
                    </li>
                    
                    
                    
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="/static/images/main-slider/image-3.jpg"  data-saveperformance="off"  data-title="Awesome Title Here">
                    <img src="/static/images/main-slider/image-7.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"> 
                    
                    <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center" data-hoffset="30"
                    data-y="center" data-voffset="-140"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn">
                    <figure class="content-image"><!--<img src="/static/images/main-slider/icon-2.png" alt="">--></figure></div>
                    
                   
                    
                    <div class="tp-caption sfr sfb tp-resizeme"
                    data-x="center" data-hoffset="30"
                    data-y="center" data-voffset="50"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><div class="text text-left" style="color:#F00;">We are commited to serve you better food at affordable price. </div></div>
                    
                    <div class="tp-caption sfl sfb tp-resizeme"
                    data-x="center" data-hoffset="30"
                    data-y="center" data-voffset="140"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn"><a href="#" class="theme-btn btn-style-one">Order To_Go</a></div>
                    
                    <div class="tp-caption sfb sfb tp-resizeme"
                    data-x="center" data-hoffset="0"
                    data-y="center" data-voffset="-40"
                    data-speed="1500"
                    data-start="500"
                    data-easing="easeOutExpo"
                    data-splitin="none"
                    data-splitout="none"
                    data-elementdelay="0.01"
                    data-endelementdelay="0.3"
                    data-endspeed="1200"
                    data-endeasing="Power4.easeIn">
                    <figure class="content-image"><!--<img src="/static/images/main-slider/content-image.png" alt="">--></figure></div>
                    
                    </li>
                    
                    
                </ul>
                
            	<div class="tp-bannertimer"></div>
            </div>
        </div>
    </section>
    <!--End Main Slider-->
    
    <!--Restaurant Section-->
    <section class="restaurant">
    	<div class="auto-container">
        	<div class="row clearfix">
            	<!--Column-->
            	<div class="column col-md-6 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Sec Title-->
                    	<div class="sec-title">
                        	<h2>Great New Dishes </h2>
                            <h3>Great Things About Us</h3>
                        </div>
                        <!--Content-->
                        <div class="content">
                            <div class="text">
                                <p>It's not FAST FOOD.. it's FRESH food as FAST as we can!</p>
                                <p>Good Vibes, Great Food</p>
                                
                                <p></p>
                            </div>
                           
                        </div>
                        
                    </div>
                </div>
                
                <!--Corousel Column-->
                <div class="corousel-column col-md-6 col-sm-6 col-xs-12">
                	<div class="carousel-outer wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<!--Single Item Carousel-->
                    	<div class="single-item-carousel">
                        	<div class="slide">
                            	<img style="width:80%" src="/static/images/resource/slide-1.svg" alt="" />
                            </div>
                            <div class="slide">
                            	<img style="width:80%" src="/static/images/resource/slide-1.svg" alt="" />
                            </div>
                            <div class="slide">
                            	<img style="width:80%" src="/static/images/resource/slide-1.svg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--End Restaurant Section-->
    
    
    <section class="delicous-section" style="background-image:url(images/background/2.jpg);">
    

    
    <!--Services Section-->
    <section class="services-section">
    	
        <div class="auto-container">
        	<!--sec title one-->
            <div class="sec-title-one">
                <h2>Why Us</h2>
                <h4>We Create Delicous Memory</h4>
            </div>
        	
        	<div class="row clearfix">
            	<!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Icon Box-->
                    	<div class="icon-box wow zoomInStable" data-wow-delay="0ms" data-wow-duration="1500ms">
                        	<img src="/static/images/resource/icon1.png" alt="" />
                        </div>
                        <h3><a href="#">Home made food</a></h3>
                        <!--<div class="text">Vivamus sed fermentum tellus. Donec quis elit sapien. Aliquam commodo tortor nisi, nec varius mi finibus at.  ut ullamcorper volutpat lectusu</div>
                        <a class="read-more" href="blog-single.html">Read More</a>-->
                    </div>
                </div>
                
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Icon Box-->
                    	<div class="icon-box wow zoomInStable" data-wow-delay="500ms" data-wow-duration="1500ms">
                        	<img src="/static/images/resource/icon2.png" alt="" />
                        </div>
                        <h3><a href="#">Daily Menu Change</a></h3>
                       <!-- <div class="text">Vivamus sed fermentum tellus. Donec quis elit sapien. Aliquam commodo tortor nisi, nec varius mi finibus at.  ut ullamcorper volutpat lectusu</div>
                        <a class="read-more" href="blog-single.html">Read More</a>-->
                    </div>
                </div>
                
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Icon Box-->
                    	<div class="icon-box wow zoomInStable" data-wow-delay="1000ms" data-wow-duration="1500ms">
                        	<img src="/static/images/resource/icon3.png" alt="" />
                        </div>
                        <h3><a href="#">Easy Ordering</a></h3>
                        <!--<div class="text">Vivamus sed fermentum tellus. Donec quis elit sapien. Aliquam commodo tortor nisi, nec varius mi finibus at.  ut ullamcorper volutpat lectusu</div>
                        <a class="read-more" href="blog-single.html">Read More</a>-->
                    </div>
                </div>
                
            </div>
            
            <div class="row clearfix">
            	<!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Icon Box-->
                    	<div class="icon-box wow zoomInStable" data-wow-delay="0ms" data-wow-duration="1500ms">
                        	<img src="/static/images/resource/icon4.png" alt="" />
                        </div>
                        <h3><a href="#"> Easy Cancellation</a></h3>
                        <!--<div class="text">Vivamus sed fermentum tellus. Donec quis elit sapien. Aliquam commodo tortor nisi, nec varius mi finibus at.  ut ullamcorper volutpat lectusu</div>
                        <a class="read-more" href="blog-single.html">Read More</a>-->
                    </div>
                </div>
                
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Icon Box-->
                    	<div class="icon-box wow zoomInStable" data-wow-delay="500ms" data-wow-duration="1500ms">
                        	<img src="/static/images/resource/icon5.png" alt="" />
                        </div>
                        <h3><a href="#">Discount Offer/coupons</a></h3>
                        <!--<div class="text">Vivamus sed fermentum tellus. Donec quis elit sapien. Aliquam commodo tortor nisi, nec varius mi finibus at.  ut ullamcorper volutpat lectusu</div>
                        <a class="read-more" href="blog-single.html">Read More</a>-->
                    </div>
                </div>
                
                <!--Services Block-->
            	<div class="services-block col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Icon Box-->
                    	<div class="icon-box wow zoomInStable" data-wow-delay="1000ms" data-wow-duration="1500ms">
                        	<img src="/static/images/resource/icon6.png" alt="" />
                        </div>
                        <h3 style="color:red;"><a href="#">Snacks ordering</a></h3>
                       <!-- <div class="text">Vivamus sed fermentum tellus. Donec quis elit sapien. Aliquam commodo tortor nisi, nec varius mi finibus at.  ut ullamcorper volutpat lectusu</div>
                        <a class="read-more" href="blog-single.html">Read More</a>-->
                    </div>
                </div>
                
            </div>
            
            
        </div>
    </section>
    <!--Services Section-->
    
    
    <!--Parallax Image Section-->
    <section class="parallax-image-section" style="background-image:url(images/background/1.jpg);">
    	<div class="auto-container">
        	<h2>Healthy Fresh And Hot Dishes.</h2>
            <h4>Best offers from the house chef.</h4>
        </div>
    </section>
    <!--End Parallax Image Section-->
    
    
    
    <!--Special Dishes Section-->
    <section class="special-section">
    	<div class="auto-container">
        	<!--sec title one-->
            <div class="sec-title-one">
                <h2>Our Special Snacks.</h2>
                <h4>We Create Delicous Memory</h4>
            </div>
        
        	<div class="row clearfix">
            	<!--Opening Column-->
            	<div class="opening-column col-md-4 col-sm-12 col-xs-12">
                	<div class="inner-box wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                    	<div class="title-box">Opening Hours</div>
                        <ul>
                        	<li>Monday — Friday<br>10:00 am - 11:00 pm</li>
                            <li>Saturday<br>10:00 am - 12:00 am</li>
                            <li>Sunday<br>10:00 am - 10:00 pm</li>
                            <li>Note: Food Truck Rodeo is closed on holidays.</li>
                            <li class="number">+1 (252)-555-7777</li>
                        </ul>
                    </div>
                </div>

                
                <!--Dishes Column-->
                <div class="dishes-column col-md-8 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    
                    	
                    	<div class="special-dish">
                        	<div class="inner-content">
                                <div class="row clearfix">
                                
                                    <!--Image Column-->
                                    <div class="image-column col-md-4 col-sm-4 col-xs-12 pull-left">
                                        <div class="inner">
                                            <figure class="image-box">
                                                <img src="/static/images/snacks_chommeen.jpg" alt="" />
                                                <!--Overlay Box-->
                                                
                                            </figure>
                                        </div>
                                    </div>
                                
                                    <!--Content Column-->
                                    <div class="content-column col-md-8 col-sm-8 col-xs-12 pull-right">
                                        <h3>Veg Chawmin</h3>
                                      
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="special-dish">
                        	<div class="inner-content">
                                <div class="row clearfix">
                                
                                    <!--Image Column-->
                                    <div class="image-column col-md-4 col-sm-4 col-xs-12 pull-left">
                                        <div class="inner">
                                            <figure class="image-box">
                                                <img src="/static/images/snacks_vegroll.jpg" alt="" />
                                                <!--Overlay Box-->
                                                
                                            </figure>
                                        </div>
                                    </div>
                                
                                    <!--Content Column-->
                                    <div class="content-column col-md-8 col-sm-8 col-xs-12 pull-right">
                                        <h3>Veg Sprign roll</h3>
                                        
                                    
                                    
                                </div>
                            </div>
                        </div>
                        
                        
                      
                        
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    <!--Special Dishes Section-->
    
   
    
<!--Main Footer-->
      <footer class="main-footer">
            <div class="auto-container">
            
                <!--Widgets Section-->
                <div class="widgets-section">
                    <div class="row clearfix">
                        <!--Big Column-->
                        <div class="big-column col-md-6 col-sm-12 col-xs-12">
                            <div class="row clearfix">
                                
                                <!--Footer Column-->
                                <div class="footer-column col-md-7 col-sm-7 col-xs-12">
                                    <div class="footer-widget about-widget">
                                        <div class="footer-logo"><figure><a href="index.html"><img src="/static/images/download.png" alt=""></a></figure></div>
                                        <div class="widget-content">
                                            
                                            <!--Contact Info-->
                                            <ul class="contact-info">
                                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    Address : E 10th street, East Carolina University,<br>Greenville NC</li>
                                                <li><i class="fa fa-phone" aria-hidden="true"></i>
                                                    Phone : +1 (252)-555-7777</li>
                                                <li><i class="fa fa-envelope" aria-hidden="true"></i>
                                                    Email : foodie@example.com</li>
                                            </ul>
                                            
                                        </div>
                                    </div>
                                </div>
                                
                               
                                
                            </div>
                        </div>
                        
                        
                                
                                <!--Footer Column-->
                                <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                                    <div class="footer-widget opening-widget">
                                        <h2>Opening Hours</h2>
                                        <div class="widget-content">
                                            
                                            <ul>
                                                <li class="clearfix"><div class="day pull-left">Mon — Fri</div><span class="dots">................</span><div class="time pull-right">10:00 am to 11:00 pm</div></li>
                                                <li class="clearfix"><div class="day pull-left">Saturday</div><span class="dots">................</span><div class="time pull-right">10:00 am to 12:00 am</div></li>
                                                <li class="clearfix"><div class="day pull-left">Sunday</div><span class="dots">................</span><div class="time pull-right">10:00 am to 10:00 pm</div></li>
                                                <li class="note">Note: Food Truck Rodeo is closed on holidays.</li>
                                            </ul>
                                        
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        
                     </div>
                 </div>
            
            </div>
            
            <!--Footer Bottom-->
             <div class="footer-bottom">
    
                 <div class="auto-container">
                    <div class="copyright-text">Copyright &copy; 2019. All Rights Reserved </div>
                </div>
            </div>
        </footer>
    
</div>
<!--End pagewrapper-->


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="text-align:center; color:#dc1616;">Bulk Order Enquiry</h4>
      </div>
      <div class="modal-body">
       <form>
  <div class="form-group">
    <label for="">Company Name:</label>
    <input type="text" class="form-control" id="" placeholder="Company Name">
  </div>
  <div class="form-group">
    <label for="">Contact Person:</label>
    <input type="text" class="form-control" id="" placeholder="Contact Person">
  </div>
  
  <div class="form-group">
    <label for="">Email Id:</label>
    <input type="email" class="form-control" id="" placeholder="Email Id">
  </div>
  
  <div class="form-group">
    <label for="">Mobile No. :</label>
    <input type="tel" class="form-control" id="" placeholder="Mobile No.">
  </div>
  
  <div class="form-group">
    <label for="">Land Line No:</label>
    <input type="tel" class="form-control" id="" placeholder="Land Line No">
  </div>
  
   <div class="form-group">
    <label for="">Address</label>
   <textarea rows="3" cols="3" class="form-control" placeholder="Address"></textarea>
  </div>
  
  
  <div class="form-group">
    <label for="">Location:</label>
 <select class="form-control">
 <option>--Select--</option>
 <option>One</option>
 <option>Two</option>
 </select>
  </div>
  
  
  <div class="form-group">
    <label for="">Pincode:</label>
 <input type="text" class="form-control" id="" placeholder="Pincode">
  </div>
  
  <div class="form-group">
    <label for="">Website Url:</label>
 <input type="text" class="form-control" id="" placeholder="Website Url">
  </div>
  
  <div class="checkbox">
    <label>
      <input type="checkbox"> Accept Privacy Policy and Term & Conditions
    </label>
  </div>
 
</form>
      </div>
      <div class="modal-footer">
       <button type="submit" class="btn btn-success">Submit</button>
       <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-long-arrow-up"></span></div>

<script src="/static/js/jquery.js"></script> 
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/revolution.min.js"></script>
<script src="/static/js/jquery.fancybox.pack.js"></script>
<script src="/static/js/jquery.fancybox-media.js"></script>
<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/js/owl.js"></script>
<script src="/static/js/wow.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/snack.js"></script>
</body>
</html>